absl-py==0.8.1
appnope==0.1.0
astor==0.8.0
attrs==19.3.0
backcall==0.1.0
blis==0.4.1
cachetools==3.1.1
catalogue==0.0.8
certifi==2019.9.11
chardet==3.0.4
Click==7.0
clickclick==1.2.2
connexion==2.4.0
cymem==2.0.3
decorator==4.4.1
Flask==1.1.1
Flask-Cors==3.0.8
gast==0.2.2
google-auth==1.7.1
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.25.0
h5py==2.10.0
idna==2.8
importlib-metadata==0.23
inflection==0.3.1
ipython==7.10.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.3
joblib==0.14.0
jsonschema==3.2.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
more-itertools==7.2.0
munkres==1.1.2
murmurhash==1.0.2
networkx==2.3
numpy==1.17.3
oauthlib==3.1.0
openapi-spec-validator==0.2.8
opt-einsum==3.1.0
pandas==0.24.2
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
plac==1.1.3
preshed==3.0.2
prompt-toolkit==3.0.2
protobuf==3.11.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
Pygments==2.5.2
pyrsistent==0.15.6
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.1.2
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
scikit-learn==0.21.3
scipy==1.3.1
six==1.13.0
sklearn==0.0
snorkel==0.9.0
spacy==2.2.3
srsly==0.2.0
swagger-ui-bundle==0.0.6
tensorboard==2.0.2
tensorboardX==1.9
tensorflow==2.0.0
tensorflow-estimator==2.0.1
termcolor==1.1.0
thinc==7.3.1
torch==1.1.0.post2
tqdm==4.39.0
traitlets==4.3.3
urllib3==1.25.7
wasabi==0.4.0
wcwidth==0.1.7
Werkzeug==0.16.0
wrapt==1.11.2
zipp==0.6.0
