connexion==2.4.0
Flask==1.1.1
Flask-Cors==3.0.8
networkx==2.3.0
nltk==3.5
numpy==1.17.3
pandas==0.24.2
scikit-learn==0.21.3
scipy==1.4.1
snorkel==0.9.0
spacy==2.2.3
swagger-ui-bundle==0.0.6
tensorflow==1.14.0
tqdm==4.39.0